
<body>
		<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100">
                <div class="title"> Washing Machine</div>
				<div class="login100-pic" data-tilt>
                    <p> Bem-vindo a Washing Machine, aqui você pode agendar o uso da lavanderia do seu condôminio e também comprar produtos para lavar sua roupas.</p>
                    <br>
					<img src="http://clipart.coolclips.com/480/vectors/tf05163/CoolClips_vc009621.png" alt="IMG">
				</div>

                <form #costumerForm="ngForm" class="forms">
					<div class="wrap-input100 validate-input">
                        <input ngModel class="input100" type="text" name="name" placeholder="Nome" required>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input ngModel class="input100" type="text" name="apart" placeholder="Apartamento" required>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <select ngModel class="input100" name="block" placeholder="Bloco" required>
                            <option value="" disabled selected>Selecione o bloco</option>
                            <option>Bloco A</option>
                            <option>Bloco B</option>
                        </select>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input ngModel class="input100" type="text" name="email" placeholder="Email" required>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input ngModel class="input100" type="password" name="pass" placeholder="Senha" required>
                    </div>

                    <div class="container-login100-form-btn">
						<button
                        class="login100-form-btn"
                        type="submit"
                        [disabled]="costumerForm.invalid"
                        (click)="onSubmit(costumerForm)">Cadastrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>