footer {
    background-color: chocolate;
    border-top: 10px;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


