
<body>
	
	<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100">
                
                <div for="date">Escolha uma data:</div>
                    <input type="date" name="dateSchedule">

                <div for="time">Horário:</div>
                <input type="time" name="timeSchedule">

                <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Agendar
						</button>
                </div>            
			</div>
		</div>
	</div>

</body>