<div class="container-login100">
    <app-header></app-header>
    <div class="wrap-login100">
        <div class="search">
            <input type="text" placeholder="Digite o que procura" (keyup)="filterProduct($event)">
            <br><br>

            <app-products-card *ngFor="let item of filterProducts" [product]="item" [discountPercent]="3">
            </app-products-card>

            <div [ngClass]="{ 'color-erro' : messageErro}" *ngIf="messageErro">
                <h2>Produtos não encontrados!</h2>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>