
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="title"> Washing Machine</div>
            <div class="login100-pic" data-tilt>
                <p> Bem-vindo a Washing Machine, aqui você pode agendar o uso da lavanderia do seu condôminio e
                    também comprar produtos para lavar sua roupas.</p>
                <br>
                <img src="http://clipart.coolclips.com/480/vectors/tf05163/CoolClips_vc009621.png" alt="IMG">
            </div>

            <form class="forms">

                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="email" type="text" name="email" placeholder="Email">
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" [(ngModel)]="password" type="password" name="password"
                        placeholder="Digite a senha" required>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" (click)="authenticate()">Entrar</button>
                </div>
                <P class="error" *ngIf="error">Usuario ou senha incorretos</P>
            </form>
        </div>
    </div>
</div>