<div class="card" *ngIf="product">
    <img width="180px" height="180px" [src]="product.img">
    <div class="card-description">
        <p><b>{{product.description}}</b></p>
        <h3>{{product.price | currency: 'BRL' }}</h3>
    </div>
    <h3 [ngClass]="{'visivel': product.quantily >= 3, 'nao-visivel': product.quantily <= 2}">
        {{ product.quantily >= 3 ? 'Disponível' : 'Não Disponível' }}

    </h3>
    <div class="actions add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
    </div>
    <!-- <div class="remove-card" (click)="removeProduct()">
        Remover produto
    </div> -->